@import "mixins";

.menu {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 45% auto 45%;
  align-items: center;

  ul,
  div {
    text-align: center;
  }

  ul {
    padding: 0;
    display: flex;
    gap: 10px;

    &:last-child {
      justify-content: flex-end;
    }

    li {
      list-style: none;
      background-color: black;
      padding: 8px 15px;
      border-radius: 50px;

    }
  }

  .menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .inputSearch {
    color: $color-white;
    background-color: $color-gray;
    border: none;
    outline: none;

    &:before {
      content: "ss";
      color: white;
    }
  }

  .menuSelector {
    background-color: $color-black;
    color: white;
    border: none;
    min-width: 80px;
  }
}

@media only screen and (max-width: 1000px) {
  .menu{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px ;
    ul{
   order: 1;
   display: flex;
   width: 50%;
   gap: 20px;
   .inputSearch{
     width: 100%;
   }
    }
  }
  .logo{
    width: 100%;
    order: -1;
  }
 }