@import "mixins";


.title {
  text-align: center;
}

.box_form {
  background-color: $color-darkGray;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  width: 100%;
  min-height: 500px;
}

.form_item {
  background-color: #3D3D3D;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}