@import "mixins";

.rootForm {
  background-color: $color-black;
  padding: 20px;
  border-radius: 10px;
  max-width: 460px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  input {
    border-radius: 3px;
    padding: 10px;
  }

  .but {
    padding: 10px;
    cursor: pointer;
  }
}