@import "mixins";

.title {
  font-size: 20px;
  text-align: center;
}

.mainBox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}

.subItem {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      text-align: center;
      .degree{
        font-size: 50px;
        span{
          font-size: 30px;
        }
      }
    }
  }
  .subItem_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.text{
  display: flex;
  // align-items: flex-end;
  justify-content: space-between;
}
.Gmap{
  min-width: 500px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1000px) {
  .mainBox_item{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .Gmap{
    min-width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .Gmap{
    min-width: 100%;
  }
}