@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(180deg, #383838 0%, #171717 73%);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
  color: white;
  font-family: "Prompt", sans-serif;
}
button {
  font-family: "Prompt", sans-serif;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: normal;
  padding: 3px 10px;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
input,
select {
  border: none;
  outline: none;
  font-family: "Prompt", sans-serif;
}
th,
td {
  font-weight: normal;
}
input::placeholder ,textarea::placeholder {
  color: rgb(187, 187, 187);
}

input,
select:focus {
  border: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.icon {
  margin: 0 10px;
  vertical-align: middle;
  cursor: pointer;
}

.map {
  border: 10px solid #707070;
  border-radius: 20px;
  overflow: hidden;
}
main {
  min-height: 100vh;
}
.box_black {
  background-color: black;
  border-radius: 20px;
  padding: 5%;
  margin-bottom: 50px;
}
.mainInput {
  background-color: #707070;
  height: 30px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none;
}

.mainTextArea {
  background-color: #707070;
  color: white;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none;
}
.but_gray {
  background-color: #707070;
  color: white;
  border-radius: 50px;
  border: none;
  min-width: 100px;
  cursor: pointer;
  height: 30px;
}
.but_black {
  background-color: black;
  color: white;
  border-radius: 50px;
  border: none;
  min-width: 100px;
  cursor: pointer;
  height: 30px;
  border: 1px solid white;
}
figure {
  margin: 0;
}

.selectGray {
  background-color: #707070;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
}
.selector_gray {
  position: relative;
}
.selector_gray select {
  background-color: #707070;
  color: white;
  border: none;
  min-width:120px;
  border-radius: 50px;
  padding: 3px 10px;
  height: 30px;
  position: relative;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;

}
.selector_gray::after {
  content: "";
  background-image: url("/svg/arrowDown.svg");
  width: 30px;
  height: 30px;
  right: 0;
  position: absolute;
  display: inline-block;
  background-size: 15px 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  pointer-events: none;
}

.but_green {
  border-radius: 50px;
  color: #5fe3a1;
  border: 2px solid #5fe3a1;
  background: none;
  height: 30px;
  width: 80px;
}
.but_red {
  border-radius: 50px;
  color: #ff4967;
  border: 2px solid #ff4967;
  background: none;
  height: 30px;
  width: 80px;
}
.but_blue {
  border-radius: 50px;
  color: #56d9fe;
  border: 2px solid #56d9fe;
  background: none;
  height: 30px;
  width: 80px;
}

/* The container */
.container_label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_label input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container_label:hover input ~ .checkmark {
  background-color: black;
}

/* When the checkbox is checked, add a blue background */
.container_label input:checked ~ .checkmark {
  background-color: black;
}
.container_label input:disabled ~ .checkmark {
  background-color: #707070;
  border: 2px solid #929292;
}
.container_label input:disabled ~ .checkmark:after {
  top: 2px;
  left: 7px;
  border: solid #929292;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
