@import "mixins";

.main {
  background-color: white;
  color: black;
  max-width: 812px;
  height: 1000px;

  margin: 0 auto;
  padding: 50px;
  position: relative;
  font-size: 14px;

  .imgTopBar {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    h1 {
      font-weight: 900;
      color: #1C4583;
      border-bottom: 2px solid #1C4583;
      padding: 10px 0;
    }

    p {
      padding-top: 10px;
      font-size: 14px
    }

  }


  .box_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: 20px 0;

    p {
      font-size: 16px;
      font-weight: 900;
    }
  }
}